<div style="margin-bottom: 8px;" class="header">
  <span></span>
  <span>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="搜索用户" [(ngModel)]="search" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="searchUser()" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </span>
</div>
<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
  <ng-template #item let-item>
    <nz-list-item [nzActions]="item.loading ? [] : [ moreAction]">
      <ng-template #moreAction><a (click)="del(item)">del</a></ng-template>
      <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="{{ item.avater }}"
        nzDescription="{{ item.description }}">
        <ng-template #nzTitle>
          {{ item.user }}
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>
